@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@font-face {
    font-family: "Work Sans", sans-serif "Merriweather", serif;
    src: url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
    src: url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
}

*, *:after, *:before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-family: "Merriweather", serif;
    font-size: 14px;
    color: #ffffff;
    background-color: #070707;
    padding: 1%;
}

.navbar {
    background-color: #df0000;
}

.jumbotron {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    font-family: "Merriweather", serif;
    color: rgb(6, 7, 5);
    background-color: #ffffff;
    border-radius: 0%;
}

#five {
    color: #df0000;
}

#title {
    font-size: large;
}

.header-container {
    margin-right: 10%;
}

#carouselFade {
    display: inline-block;
}

.carousel-inner {
    margin: auto;
    max-width: 600px;
}

.carousel-caption {
    color: rgb(255, 248, 248);
    font-weight: bold;
}

.exhibition-text {
    color: rgb(6, 7, 5);
    font-weight: bold;
}

.container-fluid {
    margin-bottom: 50px;
}

.gallery-container {
    margin: auto;
}

#gallery-image {
    width: 100%;
}